<!DOCTYPE html>
<html>
    <head>
      <!-- jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Custom CSS -->
      <link href="/css/main.css" rel="stylesheet" type="text/css" />
      <link href='https://fonts.googleapis.com/css?family=Raleway|Alegreya+Sans|Actor' rel='stylesheet' type='text/css'><!-- Boostrap  -->
      <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <script src="/js/bootstrap.min.js"></script>
      <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
      <link href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- Angular -->
      <script src="/js/angular.min.js"></script>
      <script src="/js/angular.js"></script>

<!-- Scripts -->

  <!--Data-->
      <script src="/data/waterbill.json"></script>
      <script src="/data/waterUse.json"></script>
  <!--D3 charts-->
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="/js/liquidFillGauge.js"></script>
      <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
      <script src="/js/chart.js"></script>
  <!--Map-->
      <script src="/js/map.js"></script>
      <script src="https://code.highcharts.com/maps/highmaps.js"></script>
      <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
      <script src="https://code.highcharts.com/mapdata/countries/us/us-nc-all.js"></script>

        <title>EFC Dashboard</title>
    </head>
    <body ng-app="myApp">

  <!-- Navbar -->

        <nav class="navbar navbar-default container">
          <div class="navbar-header">
            <img class="logo pull-left" src="/img/logoWater.png"/>
            <div class="navbar-brand">Drop in the Bucket</div>
          </div>
        </nav>
      <div class="container" ng-controller="BaseController as base">
        <div class="col-md-12 center-block">
          <h1 class="heading">Drop in the Bucket</h1>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum ut massa id pellentesque. Sed ullamcorper eu orci a pulvinar. Nunc maximus nibh ac orci aliquet cursus. Cras faucibus risus quis condimentum tempor.
        </p>
          <hr>

    <!-- map -->
        <div class="row">
          <div class="col-md-12 ">
            <h3>Water Consumption in North Carolina</h3>
            <p>This map shows the millions of gallons of water each N.C. county uses per day.</p>
            <div id="container"></div>
          </div>
        </div>
        <hr>

        <!-- D3 Bar Chart -->
        <div class="row">
          <div class="col-md-4 col-sm-12 pull-right">
            <h2>Title of Graph</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum ut massa id pellentesque. Sed ullamcorper eu orci a pulvinar. Nunc maximus nibh ac orci aliquet cursus. Cras faucibus risus quis condimentum tempor.
            </p>
          </div>
          <div class="col-md-8 col-sm-12">
            <div id="barChart"></div>
          </div>
        </div>
        <hr>

        <!--liquid graphic-->
        <div class="row">
        <div class="col-md-4 col-sm-12">
          <svg id="fillgauge1" width="97%" height="250" ></svg>
        </div>
        <div class="col-md-8 col-sm-12 pull-right">
          <h2>Public vs. Private Water Utilities</h2>
          <p>
            Eighty-seven percent of people in the U.S. with water service receive it from publicly-owned water utilities, and that number is growing. Private, for-profit corporations charge an average of 59 percent more per year than local governments do, leaving those private customers paying an extra $185 per year more, on average, than customers of systems owned and operated by a local government.
          </p>
          <a href="http://cwfnc.org/"><p>Source</p></a>
        </div>
      </div>
      <hr>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3> Search for your city</h3>
        <p>Type in your city or county in the search box below to see water bill rate.</p>
        </div>
      </div>


    <!-- Search -->
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="form-group form-value">
              <input type="text" ng-model="searchTerm" class="form-input" placeholder="Search" />
            </div>
        </div>
      </div>

        <!-- Table -->
        <div class="row">
        <div class="col-md-12">
            <table  id="table" class="table table-striped table-hover" >
              <thead>
                <tr>
                    <th ng-click = "base.setSort('city')"><a href="#" class="table-head"> City </a></th>
                    <th ng-click = "base.setSort('population')"><a href="#" class="table-head">Population</a></th>
                    <th ng-click = "base.setSort('waterBill')"><a href="#" class="table-head">Water Bill</a></th>
                </tr>
              </thead>
              <tbody ng-repeat= "data in base.waterInfo | orderBy:base.sort:base.reverse | filter:searchTerm">
                  <tr>
                     <td ng-click="base.waterInfo(data.city)"><a href="#"> {{ data.city }}</a></td>
                    <td class="table-body">{{ data.population}}</td>
                    <td class="table-body">{{ data.waterBill }}</td>
                  </tr>
              </tbody>
            </table>

          </div>
        </div>

        </div> <!--container-->

        <script src="/js/chart.js"></script>
        <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
  </body>
</html>
