p{
  font-family: 'Actor', sans-serif;
  font-size: 110%;
}
h1, h2, h3, h4{
  font-family: 'Raleway', sans-serif!important;

}
.heading {
  font-family: 'Raleway', sans-serif;
}
/*navbar*/
.logo{
  margin-left: 2%;
}
.navbar-default{
  background-color: #5ca7c7 !important;
  padding: 5px;

}
.heading{
  text-align: center;
  margin: 20px;
}

/*Map*/
#container {
    height: 500px;
    min-width: 310px;
    max-width: 900px;
    margin: 0 auto;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}


/*Bar Graph */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #205589;
}

.bar:hover {
  fill: #5ca7c7;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.7);
  color: #f4f6f7;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*liquid fill graph*/
 .liquidFillGaugeText {
   font-family: Helvetica; font-weight: bold;
 }

/*search box*/
input{
  border-width: 1px !important;
  border-radius: 5px !important;
  border: solid 1px solid #f8f8f8 !important;
  box-shadow: none !important;
}
input:focus{
  outline: none !important;
  border-color: #2498f4 !important;
  box-shadow: none !important;
  border-width: 1px !important;
  border-radius: 5px !important;
}
.form-value{
  padding: 5px ;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-input{
  position: absolute!important;
  margin-bottom: : 15px!important;
  padding: 15px!important;
  border: 1px solid #cccccc !important;
}
/*Table*/
table{
  margin-top: 25px;
}
